page-take-picture {

     .header {
        background-color: #EEEEEE !important;
        padding-top: 24px;
        padding-bottom: 24px;
        box-shadow: none!important;
        .toolbar{
            .toolbar-background{
                background-color: #EEEEEE !important;
                box-shadow: none!important;
                   
            }
        }
    }
    .toolbar-title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: normal;
        color: #E00303;
        box-shadow: none;
        img{
            margin-top: 12px;
        }
    }

    .title {
        padding: 0 0px 1px;
        width: 80%;
        p {
            color: #E00303;
            font-size: 14px;
        }
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
         border: none;

    }

    .back-button{
        display: none !important;
        color: #E00303;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .content, .scroll-content{
        padding: 0 !important;
    }

    .menu{
        padding: 10px;
        background-color: #EEEEEE !important;
        h2{
            color: #777777;
            font-size: 12px;
        }
        button{
            background-color: #E00303;
            width: 80px;
            border-radius: 10px;
        }
       
    }

        .choosen{
        background-color: #001E7C !important;
    }



     .footer {
        background-color: #E00303 !important;
        color: #ffffff;        
        .toolbar{
            .toolbar-background{
                background-color: #E00303 !important;
                color: #ffffff; 
            }
        }
        .button{
            color: #ffffff;
            opacity: 1;
        }
        .icon{
            margin-left: 10px;
        }
    }
}
