<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/itau-logo.png" width="40px" alt="itau logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="bot">
      <ion-row>
        <ion-col text-center>
          <img class="rounded-img" src="assets/imgs/chatbot.jpg" alt="itau logo">
          <button ion-button (click)="showRespostasHistory()">mostrar historico</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 class="name">Itaú</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h3 class="title">Consultora de Contas</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <hr>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <p class="text">{{resposta}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="client">
      <ion-row>
        <ion-col text-center>
          <img class="rounded-img" src="assets/imgs/client.jpg" alt="itau logo">
          <button ion-button (click)="showPerguntasHistory()">mostrar historico</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 class="name">{{nickname}}</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.cpf">
        <ion-col text-center>
          <h3 class="title">{{dados.cpf}}</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.celular">
        <ion-col text-center>
          <h3 class="title">{{dados.celular}}</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.plano">
        <ion-col text-center>
          <h3 class="title">{{dados.plano}}</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.endereco">
        <ion-col text-center>
          <h3 class="title">{{dados.endereco}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <hr>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines *ngIf="isPass">
            <ion-input 
              text-center 
              type=password 
              laceholder="Senha" 
              [(ngModel)]="pergunta"
            >
          </ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="isCPF">
            <ion-input 
              text-center 
              type=text
              placeholder="CPF"
              [(ngModel)]="pergunta" 
              [brmasker]="{mask:'000.000.000-00', len:14}"
            >
            </ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="isFone">
            <ion-input 
              text-center 
              type=text 
              placeholder="Telefone" 
              [(ngModel)]="pergunta"
              
            >
            </ion-input>
          </ion-item>
        
          <ion-item no-lines *ngIf="isReal">
            <ion-input 
              text-center 
              type=text 
              placeholder="(R$) Real" 
              [(ngModel)]="pergunta"
             
            >
            </ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
    </div>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="primary" (click)="nextStep();sendMessage()">
          {{this.passos[passoAtual]}} <ion-icon name="md-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>