<ion-header no-border>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/itau-logo.png" width="40px" alt="itau logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="bot">
      <ion-row>
        <ion-col text-center>
          <img class="rounded-img" src="assets/imgs/chatbot.jpg" alt="itau logo">
          <ion-icon name="chatboxes" class="custom-icon" item-right (click)="presentModal('resposta')"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 class="name">Itaú</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h3 class="title">Consultora de Contas</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <hr>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <p class="text">{{resposta}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="client">
      <ion-row>
        <ion-col text-center>
          <img class="rounded-img" src="assets/imgs/client.jpg" alt="itau logo">
          <ion-icon name="menu" class="custom-icon" item-right (click)="presentModal('pergunta')"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 class="name">{{nickname}}</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.cpf">
        <ion-col text-center>
          <h3 class="title">{{dados.cpf}}</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.celular">
        <ion-col text-center>
          <h3 class="title">{{dados.celular}}</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.plano">
        <ion-col text-center>
          <h3 class="title">{{dados.plano}}</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dados.endereco">
        <ion-col text-center>
          <h3 class="title">{{dados.endereco}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <hr>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines *ngIf="isPass">
            <ion-label stacked>Digite sua senha de 6 dígitos</ion-label>
            <ion-icon name="lock" class="icon-input" item-left></ion-icon>
            <ion-input 
              class="input-icon"
              text-center 
              type="password"
              placeholder="Senha" 
              [(ngModel)]="pergunta"
              (ionFocus)="scrollDown()"
            >
            </ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="isToken">
            <ion-input 
              text-center
              type="number"
              placeholder="Token" 
              [(ngModel)]="pergunta"
              (ionFocus)="scrollDown()"
            >
            </ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="isCPF">
            <ion-label stacked text-center>Por favor informe o seu CPF</ion-label>
            <ion-input 
              text-center 
              type=text
              placeholder="CPF"
              [(ngModel)]="pergunta" 
              [brmasker]="{mask:'000.000.000-00', len:14}"
              (ionFocus)="scrollDown()"
            >
            </ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="isFone">
            <ion-label stacked>Digite o DDD e o seu fone</ion-label>
            <ion-icon name="phone-portrait" class="icon-input" item-left></ion-icon>
            <ion-input 
              class="input-icon"
              text-center 
              placeholder="Celular"
              type=tel
              [(ngModel)]="pergunta"
              (ionFocus)="scrollDown()"
            >
            </ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="isReal">
            <ion-input 
              text-center 
              placeholder="R$"
              type=text 
              [(ngModel)]="pergunta"
              [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '3'}"
              (ionFocus)="scrollDown()"
            >
            </ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
    </div>
  </ion-grid>

</ion-content>

<ion-footer [ngClass]= "pergunta || isPass == false && isToken == false 
  && isFone == false && isReal == false && isCPF == false ? '' : 'hide-footer'">
  <ion-toolbar>
    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="primary" (click)="nextStep();sendMessage()">
          {{this.passos[passoAtual]}} <ion-icon name="md-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>