page-home {

   
   .content-md, .content{
       background-color: #ED7E19;
       color:#2D4EAC;
   }
   .toolbar-md{
       padding: 0 !important;
   }

   .logo{
       margin:5% 5% 0;

       img{
           max-width: 80%;
       }
   }

   .mic-img{
       width: 50%;
       margin-top: 10%;
   }

    .message_row{
        background-color: #ED7E19;
        padding-top:4%;
        padding-bottom: 4%;

        ion-icon{
            font-size: 4vw !important;
        }
    }

    .input-text{
        font-size: 5vw;
        border-radius: 20px;
    }
   h1{
       color:#2D4EAC;
       font-size: 5vw;
       font-weight: bold;
        width: 80%;
        margin-left: 10%;
   }
   h2{
       color:#2D4EAC;
       font-size: 3vw;
   }
    h3{
       color:#2D4EAC;
       font-size: 16px;
   }

   .item-inner{
       border-bottom: none !important;
   }

    .text-box{
        margin-top: 5%;
        padding: 10px;
        background-color: #fff108;
        border-radius: 20px;
        text-align: center;
    }

   ion-label {
        white-space: normal;
    }
    .content{
    .button {
        padding: 10%;
        margin-top: 20%;
        border-radius: 20px;
        background-color: #fff108; 
        color:#2D4EAC;
        font-size: 4vw !important;
        font-weight: bold;
    }
    }
    .footer{
    .button {
        width: 50%;
        height: 100%;
        padding: 10%;
        border-radius: 50%;
        background-color: #17db05; 
        color:rgb(255, 255, 255);
        font-size: 4vw !important;
        font-weight: bold;
    }
    }


    .button-inner{
        font-size: 16px;
    }

    .rounded-img{
        border-radius: 50%;
        width:60%;
        border:1px solid rgb(199, 95, 5);
        background-color: #EFE9E5;
    }
}
