page-nickname {

    .header {
         background-color: #EEEEEE !important;
                    padding-top: 24px;
                    padding-bottom: 24px;
        .toolbar{
            .toolbar-background{
                    background-color: #EEEEEE !important;
                   
                }
        }
    }

    .title {
            padding: 0 60px 1px;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
         border: none;

    }

    .back-button{
        color: #EC7001;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    ion-navbar, .toolbar, .toolbar-title{
        
        text-align: left !important;
        background-color: #EEEEEE;
        
    }

    hr{
        width: 30%;
        margin-top: 10px;
            background-color: #cccccc !important;
            height: 0.55px !important;
            border-width: 0.55px !important;
    }
    col, .grid{
        padding: 0;
    }

    .bot{
         background-color: #EEEEEE;
         height: 45%;
    }

    .client{
        padding-top: 10px;
         background-color: #ffffff;
         height: 55%;
    }

    .rounded-img{
        border-radius: 50%;
        width:100px;
        height:100px;
        border:1px solid #EC7001;
    }

    .name{
        color:#EC7001;
        font-weight: bold;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: -1rem;
    }
    .title{
        color:#777777;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: -1rem;
    }
    .text{
        color:#EC7001;
        font-size: 16px;
        margin-top: 0px;
    }
    .hide-footer {
        display: none;
    }
     .footer {
        background-color: #EC7001 !important;
        color: #ffffff;        
        .toolbar{
            .toolbar-background{
                background-color: #EC7001 !important;
                color: #ffffff; 
            }
        }
        .button{
            color: #ffffff;
            opacity: 1;
        }
        .icon{
            margin-left: 10px;
        }
    }
}
