page-modal-history {
 .header {
         background-color: #EEEEEE !important;
                    padding-top: 24px;
                    padding-bottom: 24px;
        .toolbar{
            .toolbar-background{
                    background-color: #EEEEEE !important;
                   
                }
        }
    }

    .title {
            padding: 0 60px 1px;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
         border: none;

    }

    .back-button{
        color: #EC7001;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    ion-navbar, .toolbar, .toolbar-title{
        
        text-align: left !important;
        background-color: #EEEEEE;
        
    }

    hr{
        width: 30%;
        margin-top: 10px;
            background-color: #cccccc !important;
            height: 0.55px !important;
            border-width: 0.55px !important;
    }
}
