<ion-header no-border>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/santander-logo.png" width="120px" alt="logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="bot">
      <ion-row>
        <ion-col text-center>
          <img class="rounded-img" src="assets/imgs/chatbot.jpg" alt="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 class="name">Itaú</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h3 class="title">Consultora de Contas</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <hr>
        </ion-col>
      </ion-row>
    </div>
    <div class="client">
      <ion-row>
        <ion-col text-center>
          <img class="rounded-img" src="assets/imgs/client.jpg" alt="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 class="name">{{nickname}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <p class="title">Comece pelo CEP para preencher automaticamente</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <hr>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="procedimento != 'Confirmar'">
        <ion-col>
          <ion-item no-lines>
            <ion-input class="cep" text-center type="text" placeholder="CEP" [(ngModel)]="input" minlength="3" [brmasker]="{mask:'00000-000', len:9}"></ion-input>
          </ion-item>
        </ion-col>        
      </ion-row>
      <ion-row class="info-endereco" *ngIf="endereco.cep">        
        <ion-col col-12 text-center>
            <p class="title logradouro">
              <span><img class="img-endereco" src="assets/imgs/endereco.svg"></span>
              {{endereco.logradouro}}
            </p>
        </ion-col>
        <ion-col col-12 text-center>
            <p class="title">{{endereco.bairro + ", " + endereco.localidade}}</p>
        </ion-col>
      </ion-row>      
      <ion-row *ngIf="procedimento == 'Confirmar'" >
        <ion-col>
          <ion-item no-lines>
            <ion-input class="numero-complemento" text-center type="text" placeholder="número, complemento" [(ngModel)]="input" minlength="3"></ion-input>
          </ion-item>
        </ion-col>        
      </ion-row>
    </div>
  </ion-grid>

</ion-content>

<ion-footer [ngClass]= "nickname ? '' : 'hide-footer'">
  <ion-toolbar>
    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="primary" *ngIf="procedimento != 'Confirmar'" (click)="(procedimento == 'Buscar endereço') ? searchCep() : infoComplement()" [disabled]="nickname === ''">
          {{procedimento}} <ion-icon name="md-arrow-forward"></ion-icon>
        </button>
        <button ion-button clear color="primary" *ngIf="procedimento == 'Confirmar'" 
            (click)="confirmAddress()" [disabled]="nickname === ''">
          {{procedimento}} <ion-icon name="md-arrow-forward"></ion-icon>
        </button>        
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>