page-address {

  .header {
         background-color: #EEEEEE !important;
                    padding-top: 24px;
                    padding-bottom: 24px;
        .toolbar{
            .toolbar-background{
                    background-color: #EEEEEE !important;
                   
                }
        }
    }

    .title {
            padding: 0 60px 1px;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
         border: none;

    }

    .back-button{
        color: #EC7001;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    ion-navbar, .toolbar, .toolbar-title{
        
        text-align: left !important;
        background-color: #EEEEEE;
        
    }

    
    col, .grid{
        padding: 0;
    }

    .bot{
         background-color: #EEEEEE;
         height: 10%;
    }

    .client{
        padding-top: 10px;
         background-color: #ffffff;
         height: 90%;
    }

    .rounded-img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        border:1px solid #EC7001;
    }
    .rounded-img2{
        margin-left: 15px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        border:1px solid #EC7001;
    }

    .name{
        color:#EC7001;
        font-weight: bold;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: -1rem;
    }
     .name2{
        color:#4A4A4A;
        font-weight: bold;
        font-size: 16px;
        margin-top: 15px;
    }

    .title{
        color: #B4B3B3;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: -1rem;
    }
    .text{
        color:#EC7001;
        font-size: 16px;
        margin-top: 0px;
    }
    .list, .item{
         background-color: #F2F2F2 ;
    }

.item-button{
    height: 3em !important;
}
   h4{
       font-size: 16px;
   }

     .footer {
        background-color: #EC7001 !important;
        color: #ffffff;        
        .toolbar{
            .toolbar-background{
                background-color: #EC7001 !important;
                color: #ffffff; 
            }
        }
        .button{
            color: #ffffff;
            opacity: 1;
        }
        .icon{
            margin-left: 10px;
        }
    }

    .background-search-button {
        background-color: #EC7001 !important;
        color: #ffffff;
    }

    hr{
        width: 30%;
        margin-top: 10px;
            background-color: #cccccc !important;
            height: 0.55px !important;
            border-width: 0.55px !important;
    }

    .info-endereco{      
        align-items: flex-start;

        .img-endereco{
            height: 20px;
        }

        .title{
            padding: 0;
            
            &.logradouro{         
                padding-right: 0.5em;           
                font-size: 16px;
            }
        }
    }
    
    .text-input{
        font-weight: bold;
        font-size: 18px;
    }

    .fab{
        bottom: 2em;
    }

    .item-input{
        background-color: transparent;
        
        .input-wrapper{
            height: 15px;
            .cep{
                height: 25px;
            }
            .numero-complemento {
                height: 23px;
                //margin-top: 30px;
            }
        }

        .text-input-ios{
            font-weight: bold;
            margin: 0;
        }

        .item-inner{
            padding: 0;

            
        }
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    

}

